{% extends 'main.html' %}
{% load static %}
{% block title %}password reset done{% endblock title %}

{% block content %}
<style>
    #center{
        display:grid;
        justify-content:center;
        align-items:center; 
        margin-top:5%;  
        font-size:2vw;
        background-color:lightgray;

     }
    #center2{
        display:grid;
        justify-content:center;
        align-items:center;
        margin-top:5%;
    }
    #section{
        min-height:100vh;
    }
</style>


<section class='container' id='section'>
    <div class='row'>
        <div class='col-sm-6 p-5' id='center'>
            <div>
                <h3>An Email has been sent to your mail id <i class="bi bi-envelope-check"></i></h3>
                <p style='font-size:1vw;'>Check your mail we sent an instruction to reset your password</p>
            </div>
        </div>
        <div class='col-sm-6' id='center2'>
            <img src={% static 'images/emailsend.gif' %} class='d-block w-100' />
        </div>
    </div>
</section>


{% include 'footer.html' %}

{% endblock content %}