{% extends 'main.html' %}
{% load static %}
{% block title %}Reset password{% endblock title %}

{% block content %}
<style>
    #center{
        display:grid;
        justify-content:center;
        align-items:center;

    }
    input::placeholder{
        text-align:center;
    }
    {% comment %} body{
        background-image: linear-gradient(to right,#a43931,#1d4350);
    }  {% endcomment %}
</style>


<section  class='mb-5'>
<div class='container'>
    <div class='row'>
        <div class='col-sm-6  mt-5' id='center'>
            <img src={% static 'images/resetpassword.jpg' %} class='d-block w-100' />
        </div>
        <div class='col-sm-6 mt-5' id='center'>
           
            <form method='POST' action=''>
                <h1 class='text-center'>Reset Password</h1>
                <br>
                {% csrf_token %}
                {% for fm in form %}
                    {{fm}}<br><p class='text-danger '>{{fm.errors|striptags}}</p> 
                {% endfor %}
                <div class='text-center'>
                    <a class='btn btn-sm btn-dark' href={{request.META.HTTP_REFERER}}  >Cancel</a>
                    <input type='submit' value='Reset Password' class='btn btn-danger' />
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class='alert alert-danger my-3'>{{error}} </p>
                    {% endfor %}
                {% endif %}
                <br>
                <br>
                <p class='text-danger'>Note:</p>
                <p>You should <mark>confirm your email id</mark> before clicking on reset password button<br>
                otherwise you could't get Link and instruction to reset password </p>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
</section>



{% include 'footer.html' %}

{% endblock content %}