{% extends 'main.html' %}
{% load static %}

{% block title %}Password Reset completed{% endblock title %}

{% block content %}
<style>
    #center{
    display:grid;
    justify-content:center;
    align-items:center;
    }
    section{
        min-height:100vh;
    }
   
</style>

<section>
    <div class='text-center' id='center'>
        <div class='m-5'>
            <h1>Password Reseted <span class='text-success'>successfully <b><i class="bi bi-check2"></i></b></span></h1>
            <p>Your password is changed now . You can <a href={% url 'login' %}>Login</a> now</p>

            <img src={% static 'images/success2.gif' %} class='d-block w-100' />
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock content %}