{% extends 'main.html' %}
{% load static %}
{% block title %}Confirm Password{% endblock title %}

{% block content %}
<!--Key icon -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<style>
    #center{
        display:grid;
        justify-content:center;
        align-items:center;

    }
    input::placeholder{
        text-align:center;
    }
    {% comment %} body{
        background-image: linear-gradient(to right,#a43931,#1d4350);
    }  {% endcomment %}
</style>



<section  class='mb-5'>
<div class='container p-5'>
    <div class='mt-5' id='center'>
        <h1>New <span class="material-symbols-outlined text-danger">key</span> Password</h1>
        <br>
        <form method='POST' action=''>
            {% csrf_token %}
            {% for fm in form %}
                {{fm}}<br><p class='text-danger '>{{fm.errors|striptags}}</p> 
            {% endfor %}
            <div class='text-center'>
                <a class='btn btn-sm btn-dark' href={{request.META.HTTP_REFERER}}  >Cancel</a>
                <input type='submit' value='Submit Password' class='btn btn-danger' />
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class='alert alert-danger my-3'>{{error}} </p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    <p class='text-danger'>Note :</p>
    <P>"Enter your password properly with our <a title='Greenco guideline' href={% url 'guidelines' %}> Guidelines</a> <br>
    And always remember your password"</P>
</div>
<br>
<br>
<br>
<br>
<br>
</section>



{% include 'footer.html' %}

{% endblock content %}