{% extends 'main.html' %}
{% load static %}
{% block title %}Login/Register{% endblock title %}

{% block content %}

<style>
    #center{
        display:grid;
        justify-content:center;
        align-items:center;
        margin-top:10%;
    }
   
    input:hover{
        border:1px solid green;
        transition:1s;
    }
    h1{
        
        font-family: 'Luckiest Guy', cursive;

    }
</style>

<!--google font for heading  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luckiest+Guy&family=Oswald&family=Pacifico&family=Tilt+Prism&display=swap" rel="stylesheet">

<!--google font register icon-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

<!--google font login icon-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class='container'>
    {% if page == 'login' %}
        <div>
            <div class='row'>
                <div class='col-sm-6' id='center'>
                    <img src={% static 'images/login.jpg' %} class='d-block w-100' alt='image' />
                </div>
                <div class='col-sm-6' id='center'>
                    <div>
                        <h1 class='text-center'>Sign in</h1>
                        <form method='POST' action=''>
                            {% csrf_token %}
                            <div >
                                <input type='email' class='form-control' placeholder='E-mail' name='email' />
                                <br>
                                <input type='password' class='form-control' placeholder='Password' name='password' />
                                <br>
                                <div class='text-center'>
                                    <input type='submit' value='Login' class='btn  btn-outline-success' />
                                </div>
                                <br>
                                <p>Have't you an account ? <span class="material-symbols-outlined">app_registration</span> <a href={% url 'register' %}> Sign up<a/></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div>
            <div class='row'>
                <div class='col-sm-6 mt-1'>
                    <img src={% static 'images/register.png' %} class='d-block w-100' />
                </div>
                <div class='col-sm-6' id='center'>
                    
                    <div>
                        <h1 class='text-center'>Sign Up</h1>
                        <form method='POST' action=''>
                            {% csrf_token %}
                            <div class='form-group my-3'>
                                {{form.username}}
                                {% if form.errors.username %}
                                    <label class='text-danger'>{{form.errors.username}}</label>
                                {% endif %}
                            </div>
                            <div class='form-group my-3'>
                                {{form.email}}
                                {% if form.errors.email %}
                                    <label class='text-danger'>{{form.errors.email}}</label>
                                {% endif %}
                            </div>
                            <div class='form-group my-3'>
                                {{form.dob}}
                                {% if form.errors.dob %}
                                    <label class='text-danger'>{{form.errors.dob}}</label>
                                {% endif %}
                            </div>
                            <div class='form-group my-3'>
                                {{form.password1}}
                                {% if form.errors.password1 %}
                                    <label class='text-danger'>{{form.errors.password1}}</label>
                                {% endif %}
                            </div>
                            <div class='form-group my-3'>
                                {{form.password2}}
                                {% if form.errors.password2 %}
                                    <label class='text-danger'>{{form.errors.password2}}</label>
                                {% endif %}
                            </div>
                            <br>
                            <div class='text-center'>
                                <a href={{request.META.HTTP_REFERER}} class='btn btn-dark'>Back</a>
                                <input type='submit' value='Register' class='btn btn-outline-success' />
                            </div>
                        </form>
                        <br>
                        <p>Have you allready an Account ? <span class="material-symbols-outlined">login</span> <a href={% url 'login' %} >Sign in </a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>


<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    {% if messages %}
        alertify.set('notifier','position', 'bottom-center');
        {% for msg in messages %}
            alertify.error('{{msg}}');
        {% endfor %}
    {% endif %}
</script>

{% endblock content %}

