{% extends 'main.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>




<style>
    body{
        background-image: linear-gradient(to right,#1d4350,#a43931);
        color:white;
      }

</style>


<div class='container p-5'>
    <div class='text-center'>
        <h1>{{request.user}} <small><i class="bi bi-patch-check text-primary" title='Verified User'></i></small></h1>
        <hr>
    </div>
    <div class='row'>
        <div class='col-sm-6 p-5 '>
            <h3 class='text-center'>User Details <i class="bi bi-card-list"></i></h3>
            <hr>
            <div>
                <h5>Email: {{request.user.email}}</h5>
                <h5>Year of birth: {{request.user.dob}}</h5>
                <h5>Age: {{age}}</h5>
                <h6>Joined in: {{request.user.date_joined|date}}</h6>
            </div>


        </div>
        <div class='col-sm-6 p-5'>
            coming soon
        </div>
    </div>
    
</div>


<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    {% if messages %}
        alertify.set('notifier','position', 'bottom-center');
        {% for msg in messages %}
            alertify.success('{{msg}}');
        {% endfor %}
    {% endif %}
</script>

{% include 'footer.html' %}


{% endblock content %}