{% extends 'main.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block content %}
<style>
    #section{
        min-height:100vh;
    }
    #center{
        display:grid;
        justify-content:center;
        align-items:center;
    }
    a{
        text-decoration:none;
        color:black;
    }
</style>

<div id='section' class='container'>
    <div class="heading_large gs_reveal text-center p-5">
        <h1>Checkout <i class="bi bi-bag-check text-success"></i></h1>
        <p class="gs_reveal"></p>
    </div>
    <hr>
    <div class='row'>
        <div class='col-sm-4 shadow p-3'>
            <h3 class='text-center'>Order summury</h3>
            <hr>
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class='card mb-2 g-2'>
                        <div class='card-body'>
                            <a href={% url 'product_details' item.product.slug %}>
                                <div class='row'>
                                    <div class='col-sm-8'>
                                        <h5>Product : {{item.product.name}}</h5>
                                        <p>Quantity : {{item.product_qty}} Nos.</p>
                                        <p>Price : <i class="bi bi-currency-rupee"></i>{{item.product.offer_price}} /-</p>
                                    </div>
                                    <div class='col-sm-4'>
                                        <img src={{item.product.product_images1.url}} class='d-block w-100' />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class='p-5 bg-light' id='center'>
                    <div>
                        {% if amount >= 2000 %}
                            <p>Shipping charge : <i class="bi bi-currency-rupee"></i><strike> 40</strike> /-  free shipping</p>
                        {% else %}
                            <p>Shipping charge : <i class="bi bi-currency-rupee"></i> 40 /- </p>
                            <code>Free shiping available when Total amount greaterthan <i class="bi bi-currency-rupee"></i>2000 /- </code>
                        {% endif %}
                        <p class='fw-bold'>Total amount : <i class="bi bi-currency-rupee"></i>{{total_amount}}/-</p>
                        <br>
                        
                    </div>
                </div>
            {% endif %}
        </div>
        <div class='col-sm-1'>

        </div>
        <div class='col-sm-7 shadow p-3'>
            <h4>Shipping Address</h4>
            <hr>
            <form method='POST' action={% url 'placeorder' %}> 
                {% csrf_token %}
                <div class='row container'>
                    
                    <div class='col-sm-6 text-center'>
                        <input type='text' value='{{user_profile.fname}}' required placeholder='First Name' class='form-control mb-3' name='fname' />
                        <input type='email' value='{{request.user.email}}' required placeholder='E-mail' class='form-control mb-3' name='email' />
                        <input type='text' value='{{user_profile.city}}'  required placeholder='City' class='form-control mb-3' name='city' />
                        <input type='text' value='{{user_profile.state}}' required placeholder='State' class='form-control mb-3' name='state' />
                        <input type='text' value='{{user_profile.pincode}}' required placeholder='Pin Code' class='form-control mb-3' name='pincode' />
                        <input type='hidden' value='COD' name='payment_mode' />

                    </div>

                    <div class='col-sm-6 text-center'>
                        <input type='text' value='{{user_profile.lname}}' required placeholder='Last Name' class='form-control mb-3' name='lname' />
                        <input type='number' value='{{user_profile.phone}}' required placeholder='phone' class='form-control mb-3' name='phone' />
                        <input type='text' value='{{user_profile.district}}' required placeholder='District' class='form-control mb-3' name='district' />
                        <input type='text' value='{{user_profile.country}}' required placeholder='Country' class='form-control mb-3' name='country' />
                        <input type='text'  placeholder='Message (*If you want)' class='form-control mb-3' name='message' />
                    </div>
                    <div class='text-center'>
                        <input type='text' value='{{user_profile.address}}' required placeholder='Address' class='form-control mb-3' name='address' />
                    </div>      
                    <br>              
                    <button type='submit' class='btn btn-outline-success'>Place order</button>
                    <span class='text-center'>Or</span>
                    <button  class='btn btn-primary'>Pay with RazorPay</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>

<!--js section-->
<!--gsap cdn-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"></script>
<!--custom gsap-->
<script src={% static 'js/gsap.js' %}></script>

{% include 'footer.html' %}

{% endblock content %}