{% extends 'main.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block content %}
<style>
    #section{
        min-height:100vh;
    }
    #center{
        display:grid;
        justify-content:center;
        align-items:center;
    }
    a{
        text-decoration:none;
        color:black;
    }
</style>

<div id='section' class='container'>
    <div class="heading_large gs_reveal text-center p-5">
        <h1>Checkout <i class="bi bi-bag-check text-success"></i></h1>
        <p class="gs_reveal"></p>
    </div>
    <hr>
    <div class='row'>
        <div class='col-sm-6 shadow p-3'>
            <h1 class='text-center'>Order summury</h1>
            <hr>
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class='card mb-2'>
                        <div class='card-body'>
                            <a href={% url 'product_details' item.product.slug %}>
                                <div class='row'>
                                    <div class='col-sm-8'>
                                        <h5>Product : {{item.product.name}}</h5>
                                        <p>Quantity : {{item.product_qty}} Nos.</p>
                                        <p>Price : <i class="bi bi-currency-rupee"></i>{{item.product.offer_price}} /-</p>
                                    </div>
                                    <div class='col-sm-4'>
                                        <img src={{item.product.product_images1.url}} class='d-block w-100' />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class='p-5 bg-light' id='center'>
                    <div>
                        {% if amount >= 2000 %}
                            <p>Shipping charge : <i class="bi bi-currency-rupee"></i><strike> 40</strike> /-  free shipping</p>
                        {% else %}
                            <p>Shipping charge : <i class="bi bi-currency-rupee"></i> 40 /- </p>
                            <code>Free shiping available when Total amount greaterthan <i class="bi bi-currency-rupee"></i>2000 /- </code>
                        {% endif %}
                        <p class='fw-bold'>Total amount : <i class="bi bi-currency-rupee"></i>{{total_amount}}/-</p>
                        
                    </div>
                </div>
            {% endif %}
        </div>
        <div class='col-sm-2 '>

        </div>
        <div class='col-sm-4 shadow p-3'>
            <h4>Select Shipping Address</h4>
            <hr>
            <form method='POST' action='' id='myform'>
                {% csrf_token %}
                {% for ad in address %}
                    <div class='card'>
                        <div class='card-body'>
                            <h5><b>{{ad.name}}</b></h5>
                            <p>Address :<b>{{ad.address}}</b></p>
                            <p>House/flat no.:<b>{{ad.house_no}}</b></p>
                            <p>Place: <b>{{ad.place}}</b></p>
                            <p>District: <b>{{ad.district}}</b></p>
                            <p>State: <b>{{ad.state}}</b></p>
                            <p>Mobile: <b>{{ad.mobile}}</b></p>
                            <p>Mobile2: <b>{{ad.mobile2}}</b></p>
                            <p>Pin: <b>{{ad.pin_code}}</b></p>
                        </div>
                        <a class='btn btn-dark' href={% url 'update_customer' ad.pk %}>Edit Address</a>
                    </div>
                    <div class='form-check mt-2 mb-5'>
                        <input class='form-check-input' type='radio' name='custid' id='custadd{{forloop.counter}}' value={{ad.id}} />
                        <label class='form-check-label fw-bold' for='custadd {{forloop.counter}}' >
                            Address: {{forloop.counter}}
                        </label>
                    </div>
                {% endfor %}
                
            </form>
            <div>
                <h3>Total amount</h3>
                <input type='number' class='form-control' name='totalamount' value={{total_amount}} readonly />
                <br>
                <div class='text-center'>
                    <button class='btn btn-outline-success'>Place order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!--js section-->
<!--gsap cdn-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"></script>
<!--custom gsap-->
<script src={% static 'js/gsap.js' %}></script>

{% include 'footer.html' %}

{% endblock content %}