{% extends 'main.html' %}
{% load static %}
{% block title %}Address{% endblock title %}

{% block content %}
<div class='container'>
    <div class='text-center p-5'>
        <h1>All Address</h1>
    </div>
    <div class='row'>
        {% if customers %}
            {% for item in customers %}
            <div class='col-sm-6 g-2'>
                <div class="card d-block w-100 bg-dark text-white" style="width: 18rem;">
                    <div class="card-body">
                    <div class='text-end'>
                        <a class='btn btn-sm btn-outline-danger' href={% url 'remove_customer' item.id %}><i class="bi bi-x-lg"></i></a>
                    </div>
                    <p class="card-title">Name: {{item.name}}</p>
                    <p class="card-text">Address: {{item.address}} </p>
                    <p class="card-text">House/Flat no.: {{item.house_no}}</p>
                    <p class="card-text">Place: {{item.place}}</p>
                    <p class="card-text">District: {{item.district}} </p>
                    <p class="card-text">State: {{item.state}}</p>
                    <p class="card-text">Contact: {{item.mobile}}</p>
                    <p class="card-text">Contact 2: {{item.mobile2}}</p>
                    <p class="card-text">Pin code: {{item.pin_code}}</p>
                    <div class='text-end'>
                        <a href={% url 'update_customer' item.id %} class="btn btn-sm btn-outline-success">Update</a>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <img src={% static 'images/nodatafound.png' %} class='d-block w-100' />
        {% endif %}
    </div>
</div>
{% endblock content %}